#root > form > div:nth-child(1) > div > div,
#root > form > div.MuiFormControl-root.MuiTextField-root > div,
#root > form > div:nth-child(3) > div > div,
#root > form > div:nth-child(4) > div > div
{
    border-radius: 15px!important;
   max-width: 100%;

  }
  #root > div > div > input{
    height: 44px;
    width: 543px;
  }
  .MuiOutlinedInput-input{
    padding:0;
  }
  .MuiInputLabel-outlined{
    margin-top: -4px;
  }
  #root > form > div > div{
    margin-bottom:54px;
  }
  input::placeholder{
    color: #000000;
    font-size: 20px;
line-height: 24px;
  }
  .review-form{
    text-align: center;
  }
  .MuiFormControl-root{
    max-width: 543px;
    width:90%;
  }